<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict/>
		<dict/>
	</array>
    
    <key>UIAppFonts</key>
    <array>
        <string>Hakgyoansim Badasseugi TTF L.ttf</string>
        <string>Hakgyoansim Geurimilgi TTF R.ttf</string>
        <string>Hakgyoansim Badasseugi TTF B.ttf</string>
    </array>
</dict>
</plist>
